@import '../../index.scss';

#play-page-main {
    display: flex;
    flex-direction: row; // column for smaller screens
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;

    #table-wrapper {
        display: flex;
        flex-direction: column;

        table {
            border-collapse: collapse;
            border: 4px solid $black;
    
            tr {
                td {
                    background-color: $dark; // default color value
    
                    & > div {
                        transition: all 0.2s;
                        border: 0 transparent solid;
                        width: 90px;
                        height: 90px;

                        &.movable {
                            cursor: pointer;
                            background-color: transparentize($color: $main_purple, $amount: 0.2);
                            &:hover {
                                border: $green 0.3em solid;
                            }
                        }
    
                        & > img {
                            width: 100%;
                            height: 100%;

                            &.player-cell {
                                animation: pop-up 0.15s linear;
                            }
                            @keyframes pop-up {
                                0% {
                                    transform: scale(0.5);
                                }
                                100% {
                                    transform: scale(1);
                                }
                            }
                        }
                    }
                }
    
                // checker board pattern background colors
                &:nth-of-type(2n){
                    td:nth-of-type(2n - 1) {
                        background-color: $text_white;
                    }
                }
                &:nth-of-type(2n - 1){
                    td:nth-of-type(2n) {
                        background-color: $text_white;
                    }
                }
            }
        }

        // time left text
        & > h3 {
            background-color: rgba(0,0,0, 0.7);
            text-align: center;
            align-self: center;
            margin: 0.7em 0;
            padding: 0.1em 1em;

            span {
                color: $support_blue
            }
        }

        #buttons-div {
            display: flex;
            justify-content: space-evenly;

            button {
                transition: background-color 0.3s;
                background-color: $dark;
                font-size: 1em;
                padding: 0.2em 1em;
                border: 3px $black solid;

                &:hover {
                    background-color: $black;
                }
                &:active {
                    background-color: $support_blue;
                }
                &:disabled {
                    cursor: default;
                    background: $dark !important;
                    color: gray;
                }
            }
        }
    }
    
    #chessman-container {
        display: flex;
        flex-direction: column;
        background-color: $dark;
        border: $black 4px solid;
        margin-left: 1.5em;

        button {
            transition: background-color 0.25s;
            
            img {
                // prvent getting too big
                max-height: 80px;
                max-width: 80px;

                height: 13vh;
                width: auto;
            }
            
            &.selected {
                background-color: $support_blue !important;
                cursor: default;
            }
            &.blink {
                animation: blink-animation 3s infinite;
            }
            @keyframes blink-animation {
                25%, 75% {
                    background-color: transparent;
                }
                50% {
                    background-color: transparentize($color: $support_blue, $amount: 0.5);
                }
            }
            &:hover {
                background-color: rgb(20, 20, 20);
            }
            &:disabled {
                cursor: default;
                background-color: transparent !important;
                img {
                    opacity: 0.1;
                }
            }
        }
    }

    #play-page-modal {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & > div {
            text-align: center;
            background-color: rgba(0, 0, 0, 0.8);
            padding: 2em 0;
            width: 100%;
            .green-color {
                color: $green;
            }
            .blue-color {
                color: $support_blue;
            }
            .red-color {
                color: $red;
            }
            h2 {
                font-size: 1.9em;
            }
            h3 {
                font-size: 1.5em;
            }
        }
    }
}

// move chessman container to the top
@media only screen and (max-width: $tablet-bp){
    #play-page-main {
        flex-direction: column-reverse;
        align-items: center;

        ///////////// fit 
        #chessman-container {
            flex-direction: row;
            margin: 0;
            margin-bottom: 0.8em;

            button {
                img {
                    height: auto;
                    width: 15vw;
                }
            }
        }
    }
}

// table cells are now viewport-width-responsive
@media only screen and (max-width: $mobile-bp){
    #play-page-main {
        #table-wrapper {
            table {
                tr {
                    td {
                        & > div {
                            width: 18vw;
                            height: 18vw;
                        }
                    }
                }
            }
        }

        #chessman-container {
            button {
                img {
                    height: auto;
                    width: 15vw;
                }
            }
        }
    }
}