@import '../../index.scss';

#play-page-main {
    display: flex;
    flex-direction: row; // column for smaller screens
    justify-content: center;
    align-items: center;
    padding-top: 50px;

    table {
        border-collapse: collapse;
        border: 5px solid $black;

        tr {
            td {
                background-color: rgb(80, 80, 80); // default color value

                .highlighter {
                    width: 90px;
                    height: 90px;
                    

                    &:hover {background-color: rgba(0, 250, 0, 0.3);}

                    & > img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            // checker board pattern background colors
            &:nth-of-type(2n){
                td:nth-of-type(2n - 1) {
                    background-color: $text_white;
                }
            }
            &:nth-of-type(2n - 1){
                td:nth-of-type(2n) {
                    background-color: $text_white;
                }
            }
        }
    }

    #play-page-modal {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & > div {
            text-align: center;
            background-color: rgba(0, 0, 0, 0.8);
            padding: 2em 0;
            width: 100%;
            .green-color {
                color: $green;
            }
            .blue-color {
                color: $support_blue;
            }
            .red-color {
                color: $red;
            }
            h2 {
                font-size: 1.9em;
            }
            h3 {
                font-size: 1.5em;
            }
        }
    }
}

@media only screen and (max-width: $tablet-bp){
    #play-page-main {
        flex-direction: column;
        table {
            tr {
                td {
                    .highlighter {
                        width: 18vw;
                        height: 18vw;
                    }
                }
            }
        }
    }
}