@import '../../index.scss';

#play-page-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;

    // time left text
    #time-left-text {
        background-color: rgba(0,0,0, 0.7);
        text-align: center;
        align-self: center;
        margin: 0.7em 0;
        padding: 0.1em 1em;

        span {
            color: $support_blue
        }
    }

    #play-page-modal {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & > div {
            text-align: center;
            background-color: rgba(0, 0, 0, 0.8);
            padding: 2em 0;
            width: 100%;
            .green-color {
                color: $green;
            }
            .blue-color {
                color: $support_blue;
            }
            .red-color {
                color: $red;
            }
            h2 {
                font-size: 1.9em;
            }
            h3 {
                font-size: 1.5em;
            }
        }
    }



}

// move chessman container to the top
@media only screen and (max-width: $tablet-bp){
    // #play-page-main
}

// table cells are now viewport-width-responsive
@media only screen and (max-width: $mobile-bp){
    // #play-page-main
}