@import '../../index.scss';


// for all pages
main {
    min-height: 100vh;
    padding-bottom: 1em;

    background: $dark url("background.jpg") no-repeat top center;
    background-size: cover;   
}
footer {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 0.6em 0;
    background-color: $black;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0.2em 0;

        label {
            color: $text_white;
            font-size: 1em;
            margin-right: 0.6em;

            // nickname
            span {
                color: $green
            }
        }
    }
}
select {
    @extend .font-body;
    background-color: $black;
    color: $green;
    font-size: 1em;
    border: $text_white 0.12em solid;
}



#title-img-div {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2em 0;

    img {
        width: 90%;
        max-width: 500px;
        height: auto;
    }
}

#contents-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 20%;

    // the 3 children divs
    & > div {
        //width: 100%;
        min-width: 50%;
        background-color: $dark;
        text-align: center;
        padding: 1em 3em;
        outline: $black 0.3em solid;
        
        &:nth-of-type(1){
            align-self: flex-start;
        }
        &:nth-of-type(2){
            align-self: center;
            z-index: 10;
        }
        &:nth-of-type(3){
            align-self: flex-end;
        }
        

        .main-page-header {
            @extend .font-header;
            color: $text_white;
        }

        #no-room-alert {
            color: $red;
            font-size: 0.9em;
        }

        input {
            @extend .font-body;
            width: 85%;
            max-width: 200px;
            background-color: $black;
            color: $support_blue;
            border: none;
            padding: 0.4em;
            margin: 0.3em;
            font-size: 0.9em;
        }

        // all buttons
        button {
            transition: 0.2s;
            transition-property: background-color;
            background-color: rgb(14, 14, 14);
            border-radius: 0.5em;

            padding: 0.4em 1em;
            margin: 0.5em;

            &:hover {
                background-color: rgb(26, 26, 26);
            }
        }
    }
}

#info-wrapper {
    width: 100%;
    padding: 1em 20%;

    #tutorial-div, #credits-div {
        background-color: rgba(0, 0, 0, 0.5);
        margin: 2em 0;
        padding: 1em 2em;

        .main-page-header {
            @extend .font-header;
            color: $text_white;
            font-size: 1.3em;
        }

        ul {
            padding-left: 1.5em;
            font-size: 0.9em;

            li > ul {
                list-style: none;
            }
        }
        a {
            color: $support_blue;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}


@media only screen and (max-width: $desktop-bp){
    #contents-wrapper {
        padding: 0 10%;
    }
}

@media only screen and (max-width: $mobile-bp){

    #title-img-div {
        padding: 1em 0;
    }

    #contents-wrapper {
        padding: 0;

        & > div {
            align-self: stretch !important;
        }
    }

    #info-wrapper {
        padding: 1em 0;

        #tutorial-div, #credits-div {
            padding: 1em 1em;
        }
    }

    footer {
        flex-direction: column;
        align-items: stretch;
    }
}