@import '../../index.scss';

#room-page-main {
    // big desktop stylings
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;

    #options-div {
        text-align: center;
        background-color: $dark;
        outline: $black 0.2em solid;
        display: flex;
        flex-direction: column;

        margin: 1em;
        margin-top: 2em;
        padding: 2em 3em;
        max-width: 450px;
        width: 60%;

        // Room ID
        h2 {
            color: $support_blue;
            margin-bottom: 0.5em;
        }

        select {
            align-self: center;
        }
        label {
            margin-top: 0.5em;
        }
        .hidden-input {
            display: none;
        }

        // highlighted option displays
        span {
            color: $green;
        }

        #host-buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            margin: 1em 0;

            #help-button, #start-button {
                &:disabled {
                    cursor: default;
                    background-color: gray;
                    animation: none;

                    &:hover {
                        background-color: gray !important;
                    }
                }
            }
            #help-button {
                background-color: $support_blue;
                padding: 0 1.5em;
            }
            #start-button {
                flex-grow: 1;
                border-left: none;
                background-color: $green;
            }
            
        }

        #not-host-message {
            font-size: 0.9em;
            color: $text_white;
            margin: 3em 0 1em;
        }

        #leave-button {
            background-color: $red;
        }

        button {
            @extend .font-header;
            padding: 0.2em 0.5em;
            border: $black 0.2em solid;
            color: $black;
            transition: background-color 0.3s;

            &:hover {
                background-color: $text_white !important;
            }
        }
    }

    #left-div {
        display: flex;
        flex-direction: column;
        margin-top: 3em;
        margin-bottom: 2em;

        h2 {
            width: 100%;
            text-align: center;
            margin: 0.3em 0;
        }

        #players-div {
            border: $black 0.2em solid;
            display: flex;
            flex-direction: column;

            // each player
            h4 {
                // host player
                &:first-of-type(){
                    &::after { content: " (Host)"; }
                }
                // current player
                &.you {
                    color: $support_blue;
                }
                // not last
                &:not(:last-of-type){
                    border-bottom: $black 0.2em solid;
                }

                background-color: $dark;
                padding: 0.3em 0.7em;
            }
        }
        
        #chat-button {
            background-color: $green;
            &.new-message {
                &::after { content: " (!)"; }
            }
        }
        button {
            @extend .font-header;
            font-size: 1em;
            width: auto;
            padding: 0 0.6em;
            margin: 0.5em 0 0;
            border: $black 0.2em solid;
            color: $black;
            background-color: $support_blue;
            transition: background-color 0.3s;

            &:hover {
                background-color: $text_white !important;
            }
        }
    }

    #results-wrapper {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #close-button {
            @extend .font-header;
            margin: 0.6em 0;
            padding: 0.1em 0.7em;
            border: $black 0.1em solid;
            color: $black !important;
            background-color: $red;
            transition: background-color 0.3s;

            &:hover {
                background-color: $text_white !important;
            }
        }

        #results-div {
            background-color: $dark;
            border: $black 0.2em solid;
            overflow-y: scroll;
            height: 70%;
            min-width: 14em; 

            h3 {
                padding: 0.5em 1.2em;

                &:nth-of-type(2n -1){
                    background-color: rgba(0, 0, 0, 0.2);
                }
                span {
                    color: $green;
                    &.dnf {
                        color: $red;
                    }
                }
            }
        }
    }
}

#chat-modal {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: none; // flex when visible
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #close-chat-button {
        @extend .font-header;
        margin: 0.3em 0;
        padding: 0.1em 0.7em;
        border: $black 0.1em solid;
        color: $black !important;
        background-color: $red;
        transition: background-color 0.3s;

        &:hover {
            background-color: $text_white !important;
        }
    }

    #chat-modal-content {
        background-color: $dark;
        color: $text_white;
        max-width: 500px;
        max-height: 400px;
        width: 95vw;
        height: 80vh;
        display: flex;
        flex-direction: column;
        border: 0.2em $black solid;

        #chat-messages-container {
            overflow-y: scroll;
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            // message item, span is name
            h3 {
                font-size: 1.1em;
                color: $text_white;
                padding: 0.2em 0.4em;
                border-bottom: 0.1em $black solid;

                span {
                    color: $green;
                }
                span.you {
                    color: $support_blue;
                }
            }
        }
        
        #chat-input-div {
            display: flex;
            justify-content: center;

            & > input[type="text"] {
                @extend .font-body;
                font-size: 1em;
                background-color: $text_white;
                color: $black;
                border: none;
                padding: 0.2em 0.4em;
                flex-grow: 1;
                min-width: 0;
            }
            
            & > button {
                @extend .font-header;
                padding: 0.1em 0.7em;
                color: $black !important;
                background-color: $support_blue;
                transition: background-color 0.3s;
                &:hover {
                    background-color: $text_white !important;
                }
            }
        }
    }
}

@media only screen and (max-width: $mobile-bp){
    #room-page-main {
        flex-direction: column;
        align-items: center;

        #options-div {
            width: 100vw;
            padding: 2em 1em;
        }

        #left-div {
            margin-top: 0;
        }
    }
}