/* color vars */
$main_purple: #a72ded;
$secondary_purple: #663683;
$black: rgb(10, 10, 10);
$dark: #1f1f1f;
$text_white: #e3e3e3;

/* breakpoints (default is bigger than desktop) */
$desktop_bp: 1200px;
$tablet_bp: 760px;
$mobile_bp: 580px;

/* font family classes */
.font-header {
	font-family: 'Baloo 2', cursive;
	font-weight: 600;
}
.font-body {
	font-family: 'Baloo 2', cursive;
	font-weight: 400;
}



/* reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img {
	width: 100%;
}
html {
	scroll-behavior: smooth;
	font-size: 20px;
}
body {
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100vh; 

	color: $text_white;
	background-color: $secondary_purple;
	font-size: 1em;
}
a {
	text-decoration: none;
}
button {
	@extend .font-body;
	font-size: 1em;
	background-color: transparent;
	color: $text_white;
	border: none;
	cursor: pointer;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}